<%%= form_with(model: <%= singular_name %>, local: true) do |form| %>
  <%% if industry.errors.any? %>
    <div id="error_explanation">
      <h2><%%= pluralize(industry.errors.count, "error") %> prohibited this <%= human_title %> from being saved:</h2>

      <ul>
      <%% <%= singular_name %>.errors.full_messages.each do |message| %>
        <li><%%= message %></li>
      <%% end %>
      </ul>
    </div>
  <%% end %>

  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%%= form.label :name %>
        <%%= form.text_field :name, class: 'form-control' %>
      </div>

      <div class="actions">
        <%%= form.submit class: 'btn btn-primary' %>
        <%%= link_to 'Cancel', <% plural_name %>_path, class: 'btn btn-secondary'%>
      </div>
    </div>
  </div>
<%% end %>
