version: "3.5"

services:
  platformweb:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "3020:3020"
      - "3035:3035"
    volumes:
      - .:/usr/src/app
      - node-modules:/usr/src/app/node_modules
      - /usr/src/app/tmp
      - /usr/src/app/log
    env_file:
      - .env
    networks:
      - bravendev

  platformdb:
    image: postgres
    env_file:
      - .env.database
    volumes:
      - db-platform:/var/lib/postgresql/data
    networks:
      - bravendev

volumes:
  db-platform:
  node-modules:

# Note all Braven web app docker dev envs use this same network so they can talk to each other.
# E.g. the hostname joinweb will resolve inside the ssoweb container if they are on the same docker network.
networks:
  bravendev:
    name: braven_dev_network
