<% content_for :headline do %>
  Postal Code: <%= @postal_code.code %>
<% end %>

<% content_for(:headline_buttons) do %>
  <%= link_to 'Back', postal_codes_path, class: 'btn btn-sm btn-outline-secondary' %>
  <%= link_to 'JSON', postal_code_path(@postal_code.code, format: 'json'), class: 'btn btn-sm btn-secondary', target: '_blank' %>
<% end %>

<div class="row">
  <div class="col-sm-4">
    <%= render 'postal_code', postal_code: @postal_code%>
  </div>
</div> <!-- row -->