// Place all the styles related to the contents controller here.
// They will automatically be included in.application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* assets/styles.css */

/* --- General.application styles --------------------------------------------------- */

.demo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0 auto;
}

.demo h2 {
    font-size: 1.3em;
}

.demo textarea {
    width: 100%;
    height: 150px;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
    font-size: 14px;
}

/* --- Product offer editor styles ----------------------------------------------------- */

.demo .demo__offer-editor {
    flex: 1 1 auto;
    max-width: 800px;
}

/* --- Generic content-part preview styles --------------------------------------------------- */

.demo .content-part-preview {
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--content-part-image);
    background-size: cover;
    height: 150px;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 3px hsla(0, 0%, 0%, .3);
    min-width: 160px;
}

.demo .content-part-preview .content-part-preview__name {
    padding: 10px;
    background: hsl(0, 0%, 100%);
    font-weight: bold;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.demo .content-part-preview .content-part-preview__price {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background: hsl(346, 100%, 56%);
    padding: 6px 10px;
    min-width: 50px;
    text-align: center;
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
    font-size: .8em;
}

.demo .content-part-preview .content-part-preview__add {
    display: none;
}

/* --- Product list styles --------------------------------------------------- */

.demo .demo__content-part-list {
    margin-left: 20px;
    padding: 20px;
    min-width: 400px;
    border-left: 1px solid hsl(0, 0%, 87%);
}

.demo .demo__content-part-list h2 {
    margin-top: 10px;
}

.demo .demo__content-part-list ul {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    margin-top: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.demo .demo__content-part-list .content-part-preview {
    opacity: .7;
}

.demo .demo__content-part-list .content-part-preview:hover {
    opacity: 1;
}

.demo .demo__content-part-list .content-part-preview:hover .content-part-preview__add {
    display: block;
}

.demo .demo__content-part-list .content-part-preview .content-part-preview__add {
    display: none;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 45%;
    left: 50%;

    border: 0;
    padding: 0;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    border-radius: 100px;
    background: hsl(0, 0%, 100%);
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 2px hsla(0, 0%, 0%, .3);
}

.demo .demo__content-part-list .content-part-preview .content-part-preview__add span {
    font-size: 25px;
    vertical-align: middle;
    color: hsl(0, 0%, 24%);
    line-height: 40px;
    display: inline-block;
}

.demo .demo__content-part-list .content-part-preview .content-part-preview__name {
    font-size: 10px;
}

.demo .demo__content-part-list .content-part-preview .content-part-preview__price {
    font-size: 10px;
}

/* --- In-editor content-part widget styles --------------------------------------------------- */

.demo .ck-content .content-part {
    margin: 1em;
    animation: slideUp 0.3s ease;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(1em);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

