/*---SKY---*/
/*$primaryZLT: #EBF7F7;*/
/*$primaryXLT: #D7EFEF;*/
/*$primaryZDK: #046366;*/
/*---SILVER---*/
body {
  background: #E6E6E6; }

html, body, main, #container {
  height: 100%;
  padding: 0;
  margin: 0; }

/* The side navigation menu */
nav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #9AD7D7;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */ }

#container {
  transition: margin-left .5s; }

header {
  background: white; }

#wysiwyg-container, header {
  padding: 1em; }

#wysiwyg-container, ul#view-mode li.active {
  background: white;
  box-shadow: 0 0 3px #D1D1D1; }

ul#view-mode, header ul, ul#component-types, ul#widget-list, ul#edit-page {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow: auto; }

ul#view-mode {
  margin: 0 0 1px 0; }

ul#widget-list li {
  border-radius: 4px;
  border: 1px solid #CCC;
  padding: 0.5em;
  margin-bottom: 0.5em; }

ul#widget-list li:hover {
  background: #C4E6E7;
  border-color: #9AD7D7; }

ul#component-types li, ul#widget-list li, ul#view-mode li, ul#edit-page li {
  display: block; }

ul#component-types li, ul#view-mode li, ul#edit-page li {
  float: left; }

ul#edit-page {
  float: right; }

ul#edit-page li {
  float: right;
  margin-left: 10px;
  margin-top: 10px; }

ul#component-types li, ul#view-mode li {
  padding: 0.5em 1em;
  border-radius: 4px 4px 0 0; }

ul#view-mode li:hover {
  background: #9AD7D7;
  cursor: pointer; }

ul#view-mode li.active:hover {
  background: white; }

h1 {
  font-family: DIN, "Trade Gothic MT", Oswald, sans-serif;
  font-size: 1em;
  text-transform: uppercase;
  margin-right: 1em; }

h2 {
  font-size: 1.5em; }

h4 {
  text-transform: uppercase;
  font-size: 1em;
  color: #666; }

header ul li {
  border-radius: 4px;
  display: block;
  border: 1px solid #CCC;
  float: right;
  padding: 0.5em; }

header ul li.success {
  background: #C4E6E7;
  border-color: #9AD7D7;
  color: #378383; }

h1, #autosave-indicator {
  float: left;
  padding: 0.5em 0; }

main {
  min-width: 1000px; }

#wysiwyg-container {
  min-height: 400px;
  border-radius: 0 4px 0 0; }

#workspace {
  margin-right: 300px; }

#vertical-toolbar {
  float: right;
  width: 300px;
  margin-left: -300px;
  height: 100%;
  border-top: 1px solid #E6E6E6;
  background: #F3F3F3; }

#toolbar-page-settings,
#toolbar-components {
  padding: 1em; }

#workspace {
  padding: 1em 1em 0 1em; }

#toolbar-components {
  border-top: 1px solid #ccc; }

#workspace {
  border-top: 1px solid #D1D1D1; }

ul#component-types {
  margin-bottom: -1px;
  padding: 0 1em; }

ul#component-types li {
  border: 1px solid #ccc;
  font-size: 80%;
  background: #F3F3F3; }

ul#widget-list li {
  position: relative;
  padding-right: 2.5em;
  border-bottom-width: 2px; }

ul#widget-list li:after {
  content: "+";
  position: absolute;
  right: 0.5em;
  height: 22px;
  width: 22px;
  border-radius: 11px;
  background: #D1D1D1;
  text-align: center;
  color: #F3F3F3;
  font-weight: bold;
  line-height: 19px;
  top: 50%;
  margin-top: -11px; }

ul#component-types li:hover, ul#component-types li.active {
  z-index: 100;
  position: relative;
  border-bottom-color: #F3F3F3; }

ul#widget-list li:hover:after {
  background: #5BBBBA; }

/*# sourceMappingURL=style.css.map */
