<% content_for(:headline) do %>
  Validate Data
<% end %>

<% content_for(:headline_buttons) do %>
  <%= link_to 'JSON', validations_path(format: 'json'), class: 'btn btn-sm btn-secondary', target: '_blank' %>
<% end %>

<div class="row">
  <div class="col-sm-6">
    <p>
      Click here to run a validation report on all data.
      <strong>WARNING:</strong> this will take a while.
    </p>
    
    <p>
      <%= link_to 'Run Report', report_validations_path, class: 'btn btn-primary' %>
    </p>
  </div>
</div>
